<%# ログイン済みだがデータ未登録ユーザー向けバナー。Apple Shortcuts 設定を促す。 %>
<div class="sketch-banner sketch-banner-empty" role="banner">
  <div class="sketch-banner-body">
    <span class="sketch-banner-icon">👋</span>
    <div>
      <p class="sketch-banner-text">
        <%= t('.body_html') %>
      </p>
    </div>
  </div>
  <div class="sketch-banner-action">
    <%= link_to t('.cta'), settings_path, class: "sketch-btn sketch-btn-primary" %>
  </div>
</div>
